<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center white-text text-upper">HELP WITH <span class="hero-type">HOMEWORK</span><span class="typed-cursor">|</span></h1>
        <div class="row center">
            <p class="flow-text  white-text">
                A slack integrated, collaborative code editor and tutoring platform designed to help students teach each other how to code.
            </p>

        </div>
        <div class="row center">
            <!-- Button that handles sign-in/sign-out -->
            <a href="/login" class="btn-large waves-effect waves-light  grey darken-4 text-upper" id="quickstart-sign-in">Get Started</a>

        </div>
        <br><br>

    </div>
</div>