<nav class="blue-grey darken-4">
    <div class="no">
    <div class="nav-wrapper">

            <a href="/" class="brand-logo center" style="font-weight: 900; font-family: 'Orbitron', sans-serif;">
                CODEHERO
            </a>
            <ul class="right">
                <li>
                    <a href="/slack-hook" class="btn red waves-effect waves-light ">
                        HELP!
                        </a>

                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<link href="https://fonts.googleapis.com/css?family=Orbitron:900" rel="stylesheet">